@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.grid-container {
  background-color: aqua;
  display: grid;
  grid-template-columns: 300px 1fr 200px;
  grid-template-rows: 200px 1fr;
  height: max(400px, 100vh);
}
.header {
  grid-area: 1/2/2/-1;
  background-color: aliceblue;
}
.side-bar {
  grid-area: 1/1/-1/2;
  background-color: #2192d4;
  padding-left: 1rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  display: grid;
  grid-template-rows: 5rem repeat(2, fit-content(100%));
  row-gap: 3rem;
  column-gap: 1rem;
  align-items: center;
}

.side-bar ul {
  padding: 0;
  margin: 0;
}
.side-bar li {
  list-style-type: none;
}
.side-bar svg {
  width: 1.5rem;
  justify-self: center;
}
.logo-section {
  display: grid;
  grid-template-columns: 4rem 1fr;
  row-gap: 1rem;
  align-items: center;
}
.logo-section h1 {
  font-size: 1.8rem;
}
.user-menu {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: repeat(6, 2rem);
  row-gap: 1rem;
  align-items: center;
}
#logo {
  width: 80%;
}
.side-bar-element {
}
.side-bar a {
  margin: 0;
  text-decoration: none;
  color: white;
}
.main {
  grid-area: 2/2;
  background-color: beige;
}
.side-content {
  grid-area: 2/3;
  background-color: bisque;
}
